* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em;
}

#container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

/* sidebar and nav */
.sidebar {
    margin: 1rem;
    grid-area: 1 / 1 / 6 / 2;
    position: fixed;
    border-right: 2px solid #ef4444;
}

.home {
    font-size: 5em;
    padding: 1rem;
}

ul {
    list-style-type: none;
    padding-left: 1rem;
}

ul ul {
    padding-left: 1rem;
}

li {
    padding: .5rem;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown {
    display: block;
}

/* homepage main area */
.main {
    grid-area: 2 / 3 / 4 / 6;
}

.main-img {
    display: block;
    height: 50vh;
    width: auto;
}

/* painting main area */
.main-container {
    grid-area: 1 / 2 / 6 / 6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

/* thumbnails */
.year-img {
    height: 5rem;
    width: auto;
    align-items: space-evenly;
}

/* slideshow */

.slideshow {
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: column;
}

.slides {
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    opacity: 0;
    position: absolute;
    height: 60vh;
    margin: 0;
    padding: 0;
    object-fit: cover;
}


.slide[data-active] {
    opacity: 1;
}

.slideshow-btn {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}

.slideshow-btn:hover,
.slideshow-btn:focus {
    color:blue;
}

.buttons {
    padding: 0;
    margin: 0;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}